/* header{
    
} */
.seccion {
    margin-top: 1vh;;
    margin-bottom: 1vh;
}

.header {
    font-family: "CircularStd-bold";
    grid-row: 1;
    height: 13vw;
    display: grid;
    grid-template-columns: 5% 90% 5%;
}

.dropdownToggle{
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.dropdownItem{
    display: grid;
    width: 100%;
    padding: .25rem 0;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdownItem:active {
    background-color: #00802c;
}

.dropDown_menu {
    position: absolute;
    background-color: white;
    border-radius: 3px;
    border: 1px black;
}

.header a {
    text-decoration: none;
    color: #001e1b;
}

.header .web_header {
    grid-column: 2;
    display: grid;
    grid-template-rows: 28% 72%;
    height: 75%;
}

.redes {
    height: 4vw;
}

.web_header .redes {
    grid-row: 1;
    display: grid;
    grid-template-columns: 45% 23% 15% 13% 5%;
}

.redes .mail {
    grid-column: 2;
    display: grid;
    grid-template-columns: 10% 90%;
    align-content: center;
    justify-content: left;
    font-size: 1vw;
}

.mail .sobre {
    grid-column: 1;
    width: 70%;
}

.mail #servicio {
    grid-column: 2;
}

.mail #servicio:hover {
    text-decoration: none;
    color: black;
}

.email {
    padding-bottom: 2vh;
}

.redes .socialMedia {
    grid-column: 3;
    margin-left: 2vw;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 25% 50% 25%;
}

.kol1 {
    position: relative;
}

.kol1::before {
    padding: 5%;
    content: '';
    height: 60%;
    width: 2px;
    position: absolute;
    left: -10px;
    top: 0.5vh;
    background-color: #39c72f;
}

.kol3 {
    position: relative;
}

.kol3::after {
    content: '';
    height: 60%;
    width: 2px;
    position: absolute;
    right: -10px;
    top: 0.5vh;
    background-color: #39c72f;
}

.socialMedia {
    padding-top: 1vw;
    display: flex;
    align-items: center;
}


.iniciarsesion {
    display: grid;
    grid-template-rows: 5% 65% 30%;
    grid-template-columns: 60% 35% 5%;
    text-align:center;
    align-content: center;
    margin-left: 1vw;
}

.iniciarsesion .ins {
    font-size: 1vw;
    text-align: center;
    padding-top: 6%;
    grid-column: 1;
    grid-row: 2;
}

.ins label {
    color: #39c72f;
    cursor: pointer;
}

.iniciarsesion .kol {
    padding-top: 10%;
    align-content: center;
    grid-column: 2;
    grid-row: 2;
}

.kol .img {
    margin-left: 10vw;
}
/* segunda seccion*/

.header-nav {
    grid-row: 2;
    height: 10vw;
    display: grid;
    grid-template-columns: 7% 24% 15% 40% 1% 8% 6%;
}
.logo_ep_2{
    padding-top: 10%;
    align-content: center;
}
.logo_ep {
    display: grid;
    align-content: center;
    align-self: center;
    grid-column: 2;
    height: 100%;
    border-top: solid;
    border-top-color: currentcolor;
    border-color: #a9a9a9;
    border-width: 2px;
}

.logo_ep img {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 2vw;
}

.relleno_border {
    height: 100%;
    width: 100%;
    border-top: solid;
    border-top-width: 2px;
    border-color: #a9a9a9;
}

.column_3 {
    grid-column: 3;
}

.navigation {
    grid-column: 4;
    display: grid;
    grid-template-rows: 28% 44% 28%;
    font-size: 1.1vw;
    text-decoration: none;
    border-top: solid;
    border-top-width: 2px;
    border-color: #a9a9a9;
    /*grid-template-columns: 14% 21% 14% 14% 37%;*/
}

.navigation #nav {
    align-self: center;
    grid-row: 2;
    display: flex;
    justify-content:space-between;
    height: 2vw;
}
.dropdown-item:active {
    background-color: #00802c;
}
.navigation #nav a:hover {
    text-decoration: none !important;
    border-bottom-color: #39c72f;
    border-bottom-style: solid;
    /* color: black; */
}
.fontWeight{
    font-weight:700;
}
.itemHov a:hover {
    text-decoration: none !important;
    border-bottom-color: #39c72f;
    border-bottom-style: solid;
    /* color: black; */
}

.column_5 {
    grid-column: 5;
}

.icon_carrito_lupa {
    grid-column: 6;
    display: grid;
    align-content: center;
    border-top: solid;
    border-top-width: 2px;
    border-color: #a9a9a9;
    grid-template-columns: 10% 38% 7% 35% 10%;
    grid-template-rows: 35% 30% 35%;
}

.carrito {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    justify-items: center;
    align-items: center;
    border-right-color: #5d5d5d;
    border-right-style: solid;
    border-width: 2px;
    width: 75%;
    padding-right: 0.5vw;
}

.lupa {
    grid-column: 4;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin-left: -0.5vw
}

.carrito img {
    width: 80%;
}

.lupa img {
    width: 60%;
}
.responsive-header{
    display: none;
}

/* Responsive styles*/


/* Responsive styles*/
@media(max-width: 768px){
    .responsive-header {
        display: flex;
        justify-content: space-between;
        background-color: white;
        height: 9vh;
        min-height: 80px;
    }
    .logo-ep-responsive img {
        width: 40vw;
        padding: 0 4vw;
    }
    
    .burger-buttom {
        display: flex !important;
        padding: 3vw;
        margin-right: 2vw;
        border: none;
        background-color: white;
        width: 10vw;
    }
    .header{
        display: none;
    }
}

.contact {
    position: absolute;
    top: 0;
    right: 15vw;
    background-color: gainsboro;
    padding-top: 3vh;
    padding-right: 3.5vw;
    padding-bottom: 1vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.call_center {
    width: 10vw;
    margin: 0 4vw;
    border-right-style: solid;
    border-right-color: grey;
    border-right-width: 1px;
    padding-right: 5vw;
}

.usuario {
    width: 5vw;
    margin: 0 1vw;
}

.icon_size.fb {
    width: 38%;
    padding-left: 1vw;
}

.show{
    display: block;
}
.icon_size.intgrm {
    width: 25%;
    margin-left: -1vw;
}

.icon_size.twitt {
    width: 45%;
    padding-right: 1vw;
    margin-left: -3vw;
}