.container-contract{
    width: 80%;
    margin: 2vw auto;
}

.content-contract{
    width: 100%;
    margin: 2vw auto;
    margin-top: 0;
}

.content-contract li{
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
}

.content-contract h3{
    color: #39c72f;
    font-family: "CircularStd-medium";
    font-size: 2vw;
    margin-bottom: 0;
    margin-top: 0;
}

.content-contract h4{
    color: #00802c;
    font-family: "CircularStd-medium";
    font-size: 1.1vw;
    margin-top: 1vw;
    margin-bottom: 1wv;
}

.content-contract p{
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: justify;
}

.content-contract span{
    color: #00802c;
}

@media(max-width:767px){

    .content-contract{
        margin-bottom: 20vw;
    }
    .content-contract h3{
        font-size: 5vw;
        margin-bottom: 8vw;
        margin-top: 8vw;
    }
    .content-contract h4{
        font-size: 2.5vw;
    }

    .content-contract p{
        font-size: 2.5vw;
        margin-top: 6vw;
        margin-bottom: 6vw;
    }

    .content-contract li{
        color: #5d5d5d;
        font-family: "CircularStd-medium";
        font-size: 2.5vw;
    }
}



/*buttom*/

.buttom-pdf{
    border: none;
    border-style: solid;
    border-color: #a9a9a9;
    border-radius: 10px;
    border-width: 1px;
    padding: 0.5vw 2.5vw;
    background-color: transparent;
}

.buttom-pdf label{
    font-family: "CircularStd-medium";
    color: #5d5d5d;
    font-size: 1.3vw;
    line-height: 90%;
    margin-bottom: 0;
}
.content-contract a:hover {
    color: #212529;
}

.content-contract a {
    color: #212529;
    text-decoration: none;
    font-weight: 700;
}
.buttom-pdf img{
    width: 5vw;
}

@media(max-width:767px){
    .buttom-pdf{
        display: block;
        margin: auto;
        order: 3;
    }

    .buttom-pdf{
        border: none;
        border-style: solid;
        border-color: #a9a9a9;
        border-radius: 10px;
        border-width: 1px;
        padding: 2vw 9vw;
    }
    
    .buttom-pdf label{
        font-family: "CircularStd-medium";
        color: #5d5d5d;
        font-size: 3.5vw;
        line-height: 90%;
        margin-bottom: 0;
    }
    
    .buttom-pdf img{
        width: 8vw;
        margin-right: 3vw;
    }
}