@font-face {
    font-family: "CircularStd-black";
    src: url("../../fonts/CircularStd-Black.otf");
}

.rutas {
    font-family: "CircularStd-black";
    margin-left: 2vw;
}

.title-disponibles {
    color: #3ac730;
    font-size: 2vw;
}

.options div {
    margin: 2vw 1.5vw;
}

.ruta-field div {
    margin: 0 0.4vw;
}

.ruta-field label {
    color: #5d5d5d;
    font-size: 1.2vw;
}

.selectors select {
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("../../img/flecha-abajo.svg");
    background-size: 1vw;
    background-repeat: no-repeat;
    background-position-x: 8vw;
    background-position-y: 0.7vw;
    background-color: white;
    width: 10vw;
    border-radius: 50px;
    border: solid;
    border-width: 1px;
    height: 2vw;
    border-color: #5d5d5d;
    padding-left: 1vw;
}

.selector-field {
    color: green;
    font-size: 1.2vw;
    font-family: "CircularStd-medium";
}

.routeTableContainer::-webkit-scrollbar {
    width: 15px;
    padding: 5px;
  }

.routeTableContainer::-webkit-scrollbar-track {
    background: transparent;
}

.routeTableContainer::-webkit-scrollbar-thumb {
    background-color: green;
    border-radius: 15px;
    border: 5px solid green;
}

@media (max-width: 767px) {
    .title-disponibles {
        font-size: 6vw;
    }
    .ruta-field label {
        font-size: 5vw;
    }
    .selector-field {
        color: green;
        font-size: 3vw;
    }
    .selectors select {
        background-size: 4vw;
        background-position-x: 40vw;
        background-position-y: 2.5vw;
        width: 50vw;
        border-radius: 50px;
        height: 7vw;
        padding-left: 1vw;
    }
}

.search-buttom {
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 2vw 2vw;
    background-color: #3ac730;
    color: white;
    border-radius: 50px;
    width: 50vw;
    line-height: 80%;
    margin-top: 10vw;
}

/*with hour*/

.three-options div {
    margin: 1vw 0.5vw;
}

.title-field {
    /* line-height: 90%; */
    margin: 0;
}

.title-org label {
    margin: 0;
}

.selector-hour input {
    background-color: white;
    width: 10vw;
    border-radius: 50px;
    border: solid;
    border-width: 1px;
    height: 2vw;
    border-color: #5d5d5d;
    padding-left: 1vw;
}

.no-margin {
    margin: 0!important;
}