
@font-face {
    font-family: "CircularStd-book";
    src: url("../../fonts/CircularStd-Book.otf");
  }
  
  @font-face {
    font-family: "CircularStd-bold";
    src: url("../../fonts/CircularStd-Bold.otf");
  }
  
  .banner_bus {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #eeeeee;
    margin-top: 10vw;
    height: 8vw;
  }
  
  .img_bus img {
    width: 28vw;
  }
.text_content{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  align-self: center;
  /* d-flex flex-column align-items-center description align-self-sm-start align-self-md-center */
}
  .text {
    margin-left: 5vw;
  }
  
  .text label {
    color: #00802c;
    font-family: "CircularStd-bold";
    font-size: 2.3vw;
    margin-left: 0.5vw;
    letter-spacing: -1px;
  }
  
  @media (max-width: 767px) {
    .flex-xs {
      display: flex;
      flex-direction: column;
    }
  }
  .link{
    background-color: transparent;
    font-weight: 700;
    text-decoration: none;
  }
  .link:hover{
    color: #212529;
  }
  .button_green {
    cursor: pointer;
    align-self:start;
    align-self:center;
    color: white;
    background-color: #39c72f;
    border: none;
    border-radius: 5px;
    padding: 0.2vw 3.5vw;
    font-family: "CircularStd-bold";
    font-size: 1.2vw;
  }
  
  @media (max-width: 767px) {
    .banner_bus {
      height: 50vw;
      padding-bottom: 20vw;
      margin-top: 20vw;
    }
    .img_bus img {
      max-width: none;
      width: 150%!important;
      left: -28vw;
    }
    .description {
      width: 55vw;
      margin-top: 5vw;
    }
    .text {
      width: 55vw;
      margin-left: 5vw;
      margin-right: 5vw;
    }
    .text label {
      font-size: 6vw;
      margin-left: 0.5vw;
      margin-bottom: 0;
      line-height: 7vw;
    }
    .button_green {
      padding: 0.5vw 10vw;
      font-family: "CircularStd-bold";
      font-size: 4vw;
      margin-top: 3vw;
    }
  }