@font-face{
   font-family: "CircularStd-book";
   src: url("../../fonts/CircularStd-Book.otf");
}
 .Banner{
    height: 30vw;
}

.bannersrc{
   height: 30vw;
}

@media (max-width: 767px){
   .Banner{
      height: 50vw;
   }

   .bannersrc{
      height: 50vw;
   }
}
.selecc{
   grid-column: 2; 
   grid-row: 1;
   
   display:grid;
   grid-template-columns: 5% 90% 5%;
   
   
}

.selecc .sselecc{
   grid-row: 1;
   grid-column: 2;
   background: white;
   
   display: flex;
   flex-flow: row;
   align-items: center;
   
   justify-content:space-around; 
   border-radius: 0px 0px 20px 20px;
-moz-border-radius: 0px 0px 20px 20px;
-webkit-border-radius: 0px 0px 20px 20px;
border: 0px solid #000000;
}
.drt{
   font-size: 110%;
   width: 10%;
   
}

.tittle-banner{
   padding-left: 7vw;
   font-family: "CircularStd-book";
   top: -30vw;
}

.tittle{
   font-size: 5vw;
   font-weight: bold;
   color: #39c62f;
   line-height: 70%;
}

.subtittle{
   font-family: "CircularStd-bold";
   font-size: 3vw;
   color: white;
   line-height: 100%;
}

@media(max-width: 767px){

   .tittle-banner{
      padding-top: 32vw!important;
      top: -50vw;
   }
   
   .tittle{
      font-size: 9vw;
      font-weight: bold;
   }
   
   .subtittle{
      font-size: 6vw;
      font-weight: bold;
   }
}

.carousel-control-prev-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")!important;
}

.carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")!important;
}