@font-face {
    font-family: "CircularStd-book";
    src: url("../../fonts/CircularStd-Book.otf");
}

.close-navmenu {
    align-self: end;
    margin-right: 7vw;
    margin-top: 2vw;
}

.close-navmenu button {
    background-color: white;
}

.button-margin {
    margin-left: 7vw;
}

.close-buttom {
    display: inline-block;
    border-color: #39c72f;
    border-style: solid;
    border-radius: 100%;
    border-width: 3px;
    padding: 1rem 1rem;
    margin: 0;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.close-buttom:active {
    background: #12440f;
}

.title-list-li {
    margin-left: 2vw;
}

.marginMenu {
    display: flex;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: 4vw;
}

.iniciar-sesion {
    align-self: flex-start;
    background-color: #00B150;
    padding: 0 2vw;
    padding-right: 13vw;
    border-radius: 10px;
    margin-top: 7vw;
}

.iniciar-sesion img {
    width: 5vw;
}

.iniciar-sesion label {
    margin-top: 1vw;
    margin-bottom: 0.5vw;
    margin-left: 3vw;
    color: white;
    font-weight: bold;
}

.links-responsive {
    margin-bottom: 2vw;
    margin-top: 5vw;
    list-style: none;
}

.links-responsive a {
    color: #5d5d5d;
    list-style: none;
    font-size: 0.8rem;
    text-decoration: none;
}

.links-responsive a:focus {
    text-decoration: none;
    border-bottom-color: #39c72f;
    border-bottom-style: solid;
    text-decoration: none;
}


.links-responsive a:active {
    border-bottom-color: #39c72f;
    border-bottom-style: solid;
}

.navigation-items ul {
    list-style: none;
    justify-content: center;
}
.navigation-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.side-draw {
    position: fixed;
    top: 0;
    right: 0;
    width: 65vw;
    height: 100vh;
    overflow-y: auto;
    background-color: white;
    z-index: 200;
    box-shadow: 0px 10px rgba(0, 0, 0, 0.5);
}

.line-divider {
    margin-top: 0;
    height: 1px;
    width: 50vw;
    border-color: #48C781;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.backdrop {
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 110vh;
    width: 100vw;
}

.close-navmenu img {
    width: 3vw;
    display: block;
}

.contact-responsive {
    padding: 5vw 0;
}

.contact-responsive label {
    color: #5d5d5d;
}

.margin-sides {
    display: grid;
    align-content: center;
    font-family: CircularStd-book;
    align-items: center;
    font-size: 4vw;
    justify-items: start;
    margin-left: 3vw;
    margin-right: 3vw;
}

.info-responsive a, .beforetravel a, .destinos-rutas a {
    text-decoration: none;
    color: #5d5d5d;
    font-family: "CircularStd-book";
    font-weight: 200;
}

.margin-lg {
    margin-left: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.tittle-list {
    color: green;
    font-family: "CircularStd-book";
    text-transform: uppercase;
    font-weight: 700;
}

.last-margin {
    margin-bottom: 20vw;
}

.tittle-list .navLabel {
    font-size: 1rem;
    margin-left: 2vw;
}