.search-input .results {
    position: absolute;
    top: 0;
    background-color: white;
    border: 1px solid black;
    z-index: 10;
    font-weight: normal;
}

.preset-default.search-input .results {
    width: 65%;
}
.search-question {
    text-decoration: none;
    border: none;
    text-align: center;
    padding: .5vw 1vw;
    background-color: #3ac730;
    color: #fff;
    border-radius: 10px;
    width: 10vw;
    line-height: 80%;
    margin-left: 2vw;
}
.inside-buttom {
    text-decoration: none;
    border: none;
    text-align: center;
    padding: .5vw 0;
    background-color: #3ac730;
    color: #fff;
    border-radius: 5px;
    width: 5vw;
    margin-left: 2vw;
}
.inside-buttom .imgLup{
    width: 1.2vw;
    margin-left: 1.8vw;
    margin-top: 0.2vw;
}
.search-question .imgLup {
    width: 1vw;
}
.search-question label {
    font-size: 1.3vw;
    margin-top: .5vw;
}
.results-container {
    /* position: relative; */
    position: absolute;
    background-color: white;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 1vw;
    z-index: 10;
}

.search-box {
    /* font-size: 1.2vw; */
}

.search-box input {
    width: 65%;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    border-width: 1px;
}

.search-box input:focus {
    box-shadow: 0 0 0.2rem #00802c;
    border-color: #00802c;
}

.search-box #text-field-container {
    padding-left: 1vw;
}

.search-box ::placeholder {
    /* font-size: 1vw; */
}

.search-box :placeholder-shown {
    padding-left: 1.5vw;
}

@media(max-width: 767px) {
    .search-box ::placeholder {
        /* font-size: 4vw; */
    }

    .search-box input {
        width: 55%;
    }
}