.container_indo_sedes_movil{
    display: block;
    margin: auto;
    width: 80vw;
}
.bloque{
    display: block;
}
.flex{
    display: flex;
}
.info_container {
    flex-grow: 1;
}
.selector_city_sede{
    position: relative;
    display: flex;
}