.left-search-panel-font {
    font-family: "CircularStd-bold";
}

.background-tittle {
    position: relative;
    right: 0vw;
    width: 39vw;
    /* height: 8vw; */
    margin-bottom: 3vw;
    padding: 1vw 0;
    padding-left: 1vw;
    background-color: #ffe900;
    color: #5d5d5d;
    font-family: "CircularStd-medium";
}

.background-tittle h4 {
    font-size: 2.5vw;
    line-height: 99%;
    width: 65%;
}

.background-tittle span {
    color: #39c72f;
}

.search-input-field {
    margin-bottom: 3vw;
}

/*buttom*/

.inside-buttom {
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 0.5vw 0vw;
    background-color: #3ac730;
    color: white;
    border-radius: 5px;
    width: 5vw;
    margin-left: 2vw;
}

.inside-buttom img {
    width: 1.2vw;
}

/*labels contact*/

.margin-vertical {
    margin-top: 0.2vw;
    margin-block: 0.2vw;
}

.comunication-medium {
    width: 60%;
    border-bottom-style: solid;
    border-color: #a9a9a9;
    border-width: 1px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    color: #5d5d5d;
}

.padding-aditional {
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.left-margin {
    margin-right: -1.5vw;
}

.no-border {
    border-bottom: none;
}