@font-face{
    font-family: "CircularStd-bold";
    src: url("../../fonts/CircularStd-Bold.otf");
}
.label_content{
    display: block;
    box-sizing: border-box;
}
.label_indicator{
    display: inline-flex;
    margin-top: 4vw;
    margin-left: 10vw;
    margin-bottom: 2vw;
    font-size: 1.2vw;
    align-items: center;
    font-family: "CircularStd-bold";
    justify-content: space-around;
    align-items: center;
}
/* .label_indicator Image{
    width: 1vw;
} */

.label_indicator div{
    margin: 0 0.5vw;
}

/* .label_indicator label{
    color: #00b150;
} */
.label_indicator .label_green a{
    color: #00b150 !important;
}
.label_arrow {
    align-self: flex-start;
    box-sizing: border-box;
    max-width: 50%;
    vertical-align: middle;
}
/* Image{
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
    box-sizing: border-box;
} */
@media (max-width: 767px){
    .label_indicator{
        font-size: 2.5vw;
    }

    .label_indicator div{
        margin: 0 1vw;
    }

    .label_indicator img{
        width: 2.5vw;
    }

    .icon_fordward{
        width: 50px;
    }
}