@font-face {
    font-family: "CircularStd-mediumItalic";
    src: url("../../fonts/CircularStd-MediumItalic.otf");
}

.client-service {
    margin: 2vw 0;
    font-family: "CircularStd-mediumItalic";
    height: 35vw;
}

.menu-client-service {
    margin: 1.5vw 2vw;
    margin-right: 0;
    padding: 0;
    justify-content: center;
}

.menu-client-service a {
    text-decoration: none;
}

.card-service {
    -webkit-box-shadow: 0px 10px 50px -25px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 10px 50px -25px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 10px 50px -25px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 1.9vw 1.9vw;
    height: 12vw;
    background-color: white;
}

.card-service:hover {
    text-decoration: none;
}

.card-service img {
    width: 7vw;
}

.card-service label {
    color: #aaaaaa;
    font-size: 1vw;
}

.card-service:hover label, .card-service:focus label {
    color: #39c72f;
}

.card-service:hover img, .card-service:focus img {
    filter: invert(83%) sepia(55%) saturate(4917%) hue-rotate(68deg) brightness(95%) contrast(83%);
}

.client-service-bus {
    padding: 0;
}

.img-bus-service {
    position: relative;
    width: 100vw;
}

.client-service-fondo {
    background-color: #efefef;
    height: 16vw;
    width: 100vw;
    position: relative;
    top: -25vw;
    z-index: -500;
}

@media(max-width: 767px) {
    .card-service {
        height: 35vw;
        margin: 3vw 3vw;
    }
    .card-service img {
        width: 20vw;
    }
    .card-service label {
        font-size: 3vw;
    }
    .client-service-fondo {
        height: 100vw;
        width: 100vw;
        top: -110vw;
    }
    .client-service {
        height: 130vw;
    }
}