.container-maletas {
    width: 80%;
    margin: 2vw auto;
}

.content-maletas {
    width: 100%;
    margin: 6vw auto;
}

.content-maletas li {
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
}

.content-maletas h3 {
    color: #39c72f;
    font-family: "CircularStd-medium";
    font-size: 2.3vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

.content-maletas h4 {
    color: #00802c;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-bottom: 1wv;
}

.content-maletas p {
    color: #5d5d5d;
    font-family: "CircularStd-book";
    font-size: 1.2vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: justify;
}

.content-maletas span {
    color: #00802c;
}

@media(max-width:767px) {
    .content-maletas {
        margin-bottom: 20vw;
    }
    .content-maletas h3 {
        font-size: 5vw;
        margin-bottom: 8vw;
        margin-top: 8vw;
    }
    .content-maletas h4 {
        font-size: 4vw;
    }
    .content-maletas p {
        font-size: 4vw;
        margin-top: 6vw;
        margin-bottom: 6vw;
    }
    .content-maletas li {
        color: #5d5d5d;
        font-family: "CircularStd-medium";
        font-size: 4vw;
    }
}