.SingleDatePicker {
    width: 100%;
}

.SingleDatePickerInput {
    /* width: 100%; */
    padding-right: 0px;
    border-radius: 4px;
}

.DateInput {
    /* width: 100%; */
    border-radius: 4px;
}

.DateInput input {
    height: 2.4rem;
}

.DateInput_input__focused {
    border: 1px solid #ced4da;
    border-color: #00802c;
}