@font-face {
    font-family: "CircularStd-medium";
    src: url("../../fonts/CircularStd-Medium.otf");
}

.search-banner {
    font-family: "CircularStd-medium";
    font-size: 1rem;
    background-color: white;
    -webkit-box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 8px 20px -10px rgba(0, 0, 0, 0.75);
    /* margin: 0 13vw; */
    /* width: 77vw; */
    width: 80%;
}

.search-banner .BottomImage {
    position: absolute;
    bottom: -7px;
    left: 0;
    right: 0;
}

.search-banner .label {
    color: green;
    font-size: 1rem;
}

.search-banner .label.compact {
    color: green;
    font-size: 1.2rem;
    margin: 0;
}

.search-banner input {
    border-radius: 4px;
}

.search-banner input:hover {
    box-shadow: 0 0 0.2rem #00802c;
}

.search-banner input:focus {
    box-shadow: 0 0 0.2rem #00802c;
    border-color: #00802c;
}

.search-banner .PlaceholderIcon {
    width: 1.2rem;
    position: absolute;
    left: -3px;
    top: 8px;
    z-index: 10;
}
.absoluteDiv{
    position: absolute;
}
.iconPos{
    left: -18px;
}
.imgBarr div{
    position: relative !important;
    bottom: -34px;
    left: -22px;
}
.input-options {
    position: relative;
    padding-bottom: 1.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vw;
    width: 100%;
}

.radio-travel-select {
    margin: 0 0.5vw;
}

.radio-travel-select input {
    margin: 0 0.3vw;
}

.radio-travel-select label {
    font-size: 1vw;
    color: #5d5d5d;
}

.field-content .search-input {
    padding: 0 0.5vw;
    position: relative;
    font-size: 5vw !important;
}

.search-date {
    width: 50% !important;
}

.field-content .search-input input:hover {}

.search-date img {
    width: 1vw;
}

.search-date {
    padding: 0 0.5vw;
    flex-grow: 1;
    position: relative;
}

.search-date input {
    font-size: 1rem;
    background-color: white;
}

.search-button-search button {
    background-color: #00802c;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 0.1vw 1.5vw;
    font-weight: bold;
    height: 2.55rem;
}

input.form-control {
    height: 2.55rem;
}

.date-default {
    flex-direction: column;
}

.dropDown-menu {
    top: 0;
    position: absolute;
    background-color: white;
    border-radius: 3px;
    border: 1px black;
}

.search-input {
    padding: 0 0.5vw;
    position: relative;
    width: 50%;
}

.search-column {
    width: 50%!important;
}

@media(max-width: 767px) {
    .search-button-search {
        /* display: inline-block; */
        width: 80%;
    }
    .search-banner {
        font-size: 0.5rem;
        border-radius: 20px;
        width: 90%;
    }
    .search-banner .label {
        font-size: 1.5rem;
    }
    .field-content .search-input {
        padding-bottom: 2vw;
    }
    .field-content .search-input input {
        width: 100%;
        margin-bottom: 1vw;
    }
    .search-date input {
        width: 100%;
        font-size: 0.7rem;
    }
    .search-banner {
        margin: 0 5vw;
    }
    .search-banner .PlaceholderIcon {
        display: none;
    }
    .search-button-search button {
        margin: 5px 0;
        width: 100%;
        height: 10vw;
        font-size: 1.5rem;
    }
    input.form-control {
        height: 2.5rem;
    }
    .date-default {
        flex-direction: row;
    }
    .search-banner .BottomImage {
        bottom: -2px
    }
    .search-banner.none {
        display: none !important;
    }
    .search-banner.compact {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .search-date {
        width: 50% !important;
    }
    .search-column {
        width: 100%!important;
    }
    .search-input {
        padding: 0.5rem 0;
        width: 100%;
    }
    
}