/* .routeTable { border-collapse: separate; } */

.routeTableContainer {
    max-height: 35vw;
    /* min-width: 60vw; */
    /* margin-right: 5vw; */
}

.busRutasContainer {
    margin-left: 3vw;
}

.ticketContainer {
    /* height: 90vh; */
    overflow: auto;  
    margin-bottom: 10vw; 
}

.routeTable {
    border: none;
    border-spacing: 0px;
    border-collapse: inherit;
}

table.routeTable td, table.routeTable th {
    border: none;
}

.routeTable td {
    /* border: solid 1px #000; */
    /* border-style: none solid solid none; */
    padding: 15px;
}

/* 
.routeTable thead tr:first-child td:first-child {
    border-top-left-radius: 15px;
}

.routeTable thead tr:first-child td:last-child {
    border-top-right-radius: 15px;
} */

.routeTable tr td {
    border-right: 1px solid #c2c2c2;
    font-family: "CircularStd-book";
}

.routeTable tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

.routeTable tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

.routeTable tr:first-child td:first-child {
    border-top-left-radius: 15px;
}

.routeTable tr:first-child td:last-child {
    border-top-right-radius: 15px;
}

.routeTable tr td:last-child {
    border-right: 1px solid #c2c2c2;
}

.routeTable tr td:first-child {
    border-left: 1px solid #c2c2c2;
}

.routeTable tr:last-child td {
    border-bottom: 1px solid #c2c2c2;
}

.routeTable tr:first-child td {
    border-top: 1px solid #c2c2c2;
}

table.routeTable.routeTable tr th {
    /* border-top: 1px solid #c2c2c2; */
    border-bottom: none;
    text-transform: uppercase;
    color: green;
}

/* 
.routeTable.table tr th:first-child {
    border-left: 1px solid #c2c2c2;
    border-top-left-radius: 15px;
}

.routeTable.table tr th:last-child {
    border-right: 1px solid #c2c2c2;
    border-top-right-radius: 15px;
} */

@media(max-width:767px) {
    .routeTableContainer {
        display: none !important;
    }
    .ticketContainer{
        margin-top: 40vw;
    }
}