@font-face {
    font-family: "CircularStd-book";
    src: url("../../fonts/CircularStd-Book.otf");
}

.bus_choiced_container {
    margin: 0 2vw;
    width: 100vw;
    margin-right: 0;
}
.bloque{
    display: block;
}
.flex{
    display: flex;
}
.img_bus{
    display: flex;
    align-items: flex-start;
}
.img_bus_choiced {
    width: 30vw;
    border-style: none;
    max-width: 100%;
}
.right_column{
    display: flex;
    flex-direction: column;
    width: 40%;

}
.icon_bus_choiced {
    width: 8vw;
}

.choiced_bus {
    margin: 5vw 8vw;
    font-family: "CircularStd-book";
    margin-top: 0;
}

.tittle_bus_choiced h1 {
    color: #39c72f;
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 2vw;
    line-height: 90%;
}

.tittle_bus_choiced h3 {
    color: #5d5d5d;
    font-size: 1.2vw;
    font-weight: 600;
}

.description_bus_choiced p {
    color: #a9a9a9;
    font-size: 1.2vw;
    margin-top: 5vw;
}

/*responsive styles*/

.tittle_bus_choiced_movil h1 {
    color: #39c72f;
    font-size: 9vw;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 90%;
    text-align: center;
}

.tittle_bus_choiced_movil h3 {
    color: #5d5d5d;
    font-size: 4vw;
    font-weight: 600;
    padding-left: 4vw;
}

.img_bus_choiced_web {
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
    margin: 7vw auto;
}

.icon_bus_choiced_web {
    width: 45%;
    height: 45%;
}

.description_bus_choiced_web {
    color: #a9a9a9;
    font-size: 3vw;
    margin: 4vw 0;
}

.column_right {
    width: 40%;
}

@media (max-width: 767px) {
    .description_bus_choiced_web {
        font-size: 3.5vw;
    }
}