.box_label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #eeeeee;
    padding: 0.5vw 1vw;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    /* text-transform: ; */
    /* d-flex justify-content-between align-items-center  */
}

.box_label .label {
    font-family: "CircularStd-medium";
    color: black;
    font-size: 1.2vw;
    margin-left: 1.5vw;
}

.box_label img {
    width: 1.5vw;
    margin-right: 2vw;
}

.list_elements {
    width: 90%;
    display: block;
    margin: auto;
}

.list_elements li {
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    line-height: 200%;
}

.list_elements li {
    list-style-image: url("../../img/list-point.svg");
}

@media(max-width:767px) {
    .box_label label {
        font-size: 3vw;
        margin-left: 2.5vw;
    }
    .box_label img {
        width: 3vw;
        margin-right: 4vw;
    }
    .list_elements li {
        font-size: 3vw;
        list-style: none;
        margin-top: 3vw;
        margin-bottom: 3vw;
        list-style-image: url("../../img/list-point-movil.svg");
    }
    .card_list {
        margin-top: 10vw;
        margin-bottom: 8vw;
    }
}

/*Estilos por defecto*/

.listdropdown_style {
    width: 100%;
    margin: 3vw auto 0vw 0vw;
    margin-left: 1vw;
}

.listdropdown_style li {
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
}

.listdropdown_style h3 {
    color: #39c72f;
    font-family: "CircularStd-medium";
    font-size: 2vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

.listdropdown_style h4 {
    color: #00802c;
    font-family: "CircularStd-medium";
    font-size: 1.1vw;
    margin-top: 1vw;
    margin-bottom: 1wv;
}

.listdropdown_style p {
    color: #5d5d5d;
    font-family: "CircularStd-book";
    font-size: 1.2vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: justify;
}

.listdropdown_style span {
    color: #00802c;
}

@media(max-width:767px) {
    .listdropdown_style {
        margin-bottom: 20vw;
    }
    .listdropdown_style h3 {
        font-size: 5vw;
        margin-bottom: 8vw;
        margin-top: 8vw;
    }
    .listdropdown_style h4 {
        font-size: 4vw;
    }
    .listdropdown_style p {
        font-size: 4vw;
        margin-top: 6vw;
        margin-bottom: 6vw;
    }
    .listdropdown_style li {
        color: #5d5d5d;
        font-family: "CircularStd-medium";
        font-size: 4vw;
    }
    .box_label .label {
        font-size: 3.5vw;
    }
}