@font-face{
    font-family: "CircularStd-bold";
    src: url("../../fonts/CircularStd-Bold.otf");
}

.banner_bottom{
    margin: 5vw 0;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    box-sizing: border-box;
}
/* .row{
    display: flex;
    flex-wrap: wrap;
} */
.banner_bottom img{
    padding: 0;
    flex:0 0 41.666667%;
    max-width: 100%;
}

.description_banner_bottom{
    font-family: "CircularStd-bold";
    color:#5d5d5d;
    font-size: 2.1vw;
    flex: 0 0 41.666667%;
    max-width: 41.666667%; 
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; 
}

.description_banner_bottom span{
    color: #39c72f;
}

.col_mid{
    flex: 0 0 8.333333%;
    max-width: 8.333333%; 
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;  
}
@media (max-width: 767px){
    .description_banner_bottom{
        font-size: 6.5vw;
        margin-top: 5vw;
        margin-left: 3vw;
    }
}