.online-content-container{
    display: block;
    margin: auto;
    width: 90%;
}

.list-menu{
    width: 80%;
    margin: 2vw auto;
}
.online-content{
    width: 75%;
    margin: 6vw auto;
}

.online-content h3{
    color: #39c72f;
    font-family: "CircularStd-medium";
    font-size: 2vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

.online-content h4{
    color: #00802c;
    font-family: "CircularStd-medium";
    font-size: 1.1vw;
    margin-top: 1vw;
    margin-bottom: 1wv;
}

.online-content p{
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: justify;
}

.online-content span{
    color: #00802c;
}

@media(max-width:767px){

    .online-content{
        margin-bottom: 20vw;
    }
    .online-content h3{
        font-size: 5vw;
        margin-bottom: 8vw;
        margin-top: 8vw;
    }
    .online-content h4{
        font-size: 2.5vw;
    }

    .online-content p{
        font-size: 2.5vw;
        margin-top: 6vw;
        margin-bottom: 6vw;
    }
}

