.link_logo_pago{
    margin-top: 0.5vw;
}
.logo_pago{
    width: 75%;
}
.link_logo_pago{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* d-flex justify-content-around align-items-center link-logo-pago */
}