.maletadescription-container{
    width: 80%;
}

.container-maleta{
    width: 100%;
    margin-top:  2vw;
    margin-bottom: 2vw;
    margin-left: 3vw;
    position: relative;
}

.icons-maleta{
    width: 45%;  
    background-color: white;
    -webkit-box-shadow: -15px 17px 20px -19px rgba(0,0,0,0.4);
    -moz-box-shadow: -15px 17px 20px -19px rgba(0,0,0,0.4);
    box-shadow: -15px 17px 20px -19px rgba(0,0,0,0.4);
    padding: 0.5vw 3vw;
}

.descriptions-maleta {
    width: 55%;
}

.tittle-maleta{
    font-family: "CircularStd-medium";
    color: #39c72f;
    font-size: 1.8vw;
}

.tittle-maleta label{
    margin-bottom: 0;
}

.container-img-maleta label{
    font-family: "CircularStd-medium";
    color: #a9a9a9;
    font-size: 3vw;
    margin: 0.5vw 0.5vw;
}

.img-maleta{
    width: 100%;
    margin: 0.5vw 0.5vw;
    border-bottom-style: solid;
    border-bottom-color: #a9a9a9;
    border-block-width: 1px;
    padding-bottom: 1vw;
}

.img-x{
    width: 8.5vw;
    margin: 0.5vw 0.5vw;
}

.descriptions-maleta li{
    font-family: "CircularStd-medium";
    color: #5d5d5d;
    font-size: 1.2vw;
    line-height: 150%;
    margin: 0.5vw 0;
}

.peso-maleta{
    font-family: "CircularStd-medium";
    color: #a9a9a9;
    font-size: 2.2vw;
    line-height: 90%;
}

/*fondo*/

.backgroun-maleta{
    position: absolute;
    left: -9vw;
    height: 35%;
    width: 20vw;
    z-index: -100;
}

@media(max-width:767px){
    .maletadescription-container{
        width: 100%;
    }
    
    .container-maleta{
        width: 100%;
    }

    .icons-maleta{
        padding: 0.5vw 4vw;
    }

    .tittle-maleta {
        font-family: "CircularStd-medium";
        color: 
        #39c72f;
        font-size: 5vw;
    }

    .img-maleta {
        width: 60%;
    }

    .img-x {
        width: 5vw;
    }
    .container-img-maleta label {
        font-size: 10vw;
    }

    .peso-maleta {
        font-size: 5.2vw;
    }

    .descriptions-maleta li {
        font-size: 4vw;
    }

    .backgroun-maleta {
        position: absolute;
        left: -13vw;
        height: 35%;
        width: 20vw;
        z-index: -100;
    }
}