@font-face {
    font-family: "CircularStd-bold";
    src: url("../../fonts/CircularStd-Bold.otf");
}

.input-search {
    font-family: "CircularStd-bold";
    margin: 2vw 0;
    margin-left: 8vw;
}

.search-description{
    font-size: 1.2vw;
    color: #656565;
    width: 80%;
}

.search-question {
    text-decoration: none;
    border: none;
    text-align: center;
    padding: 0.5vw 1vw;
    background-color: #3ac730;
    color: white;
    border-radius: 10px;
    width: 10vw;
    line-height: 80%;
    margin-left: 2vw;
}

.search-question img {
    width: 1vw;
}

.search-question label {
    font-size: 1.3vw;
    margin-top: 0.5vw;
}

.question-list{
    width: 60%;
}

.title-popular {
    font-size: 2vw;
    background-color: #eeeeee;
    color: #a9a9a9;
    margin-bottom: 1vw;
    padding-left: 1vw;
    padding-top: 0.5vw;
}

.popular-questions a {
    color: #3ac730;
    font-size: 1.3vw;
    font-family: "CircularStd-medium";
}

.popular-questions ul{
    list-style: none;
}

.popular-questions a:hover{
    text-decoration: none;
}

.popular-questions p {
    margin-bottom: 0;
}

.faq-question {
    font-size: 1.3vw;
}

@media(max-width: 767px) {
    .inputs-quiestions {
        width: 100vw;
    }
    .search-description {
        font-size: 4vw;
        color: #656565;
    }

    /* ::placeholder {
        font-size: 4vw;
    }
    .placeholder-shown {
        padding-left: 3vw;
    } */
    .search-question {
        padding: 2.5vw 8vw;
        width: 35vw;
        margin-left: 1vw;
    }
    .search-question img {
        width: 4.5vw;
    }
    .search-question label {
        font-size: 4vw;
        margin-top: 1.5vw;
    }
}