.content-layout{
    width: 60%;
}

.left-search-panel{
    width: 30%;
}

@media(max-width:767px){
    .left-search-panel{
        display: none;
    }

    .content-layout{
        width: 100%;
    }
}