.rutas_indicator {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: 5vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    align-items: flex-start;
    flex-direction: row;
    justify-content: center;
    display: flex;
    /* width: 100%; */
    /* height: 100%; */
}

.title_avaible {
    margin-top: 1.5vw;
    flex-direction: column;
    display: flex;
}

.title_avaible label {
    font-family: "CircularStd-bold";
    color: #39c72f;
    font-size: 1.8vw;
    text-align: right;
    margin-right: 1.5vw;
    margin-bottom: 0;
    line-height: 90%;
}

.separator_box {
    left: 17.5vw;
    /* position: absolute; */
    width: 2vw;
    border-style: solid;
    border-color: #39c72f;
    border-width: 2px;
    border-right: none;
    display: block;
    /* height: 100%; */
}
.separator_box_movil {
  display: none;
}

.container_rutas{
    justify-content:center;
}

.container_rutas_indicators {
    flex-wrap: wrap;
    width: 50vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: flex;
}

.box_ruta {
    background-color: #eeeeee;
    height: 3vw;
    margin: 0.5vw 0.5vw;
    width: 15vw;
    align-items: center;
    justify-content: space-around;
    display: flex;
}

.bus_rutas {
    width: 15%;
    max-width: 100%;
    border-style: none;
}

.org_dst_txt {
    font-family: "CircularStd-bold";
    color: #5d5d5d;
    font-size: 1vw;
    margin-bottom: 0;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    display: inline-block;
}

.horizontal_separator {
    width: 2%;
    height: 1px;
    border-top-style: solid;
    border-top-color: #5d5d5d;
    border-top-width: 2px;
}

.container_rutas_movil {
    display: flex;
}
@media(max-width:767px) {
    .rutas_indicator {
        margin-left: 0;
        margin-top: 10vw;
    }
    .title_avaible label {
        font-size: 6vw;
    }
    .container_rutas_movil {
        /* width: 100%; */
        margin-left: 17vw;
        margin-top: 5vw;
    }
    .separator_box_movil {
        width: 3vw;
        border-style: solid;
        border-color: #39c72f;
        border-width: 3px;
        border-right: none;
    }
    .container_rutas_indicators {
        width: 90%;
    }
    .box_ruta {
        height: 8vw;
        width: 40vw;
        background-color: white;
        border-style: solid;
        border-color: #eeeeee;
        border-width: 2px;
    }
    .org_dst_txt {
        font-size: 2.5vw;
        margin-left: 0.1vw;
        margin-right: 0.1vw;
    }
}