.mascotas-content {
    width: 75%;
    margin: 6vw auto;
}

.mascotas-content li {
    color: #5d5d5d;
    font-family: "CircularStd-book";
    font-size: 1.2vw;
}

.mascotas-content h3 {
    color: #39c72f;
    font-family: "CircularStd-medium";
    font-size: 2.3vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

.mascotas-content h4 {
    color: #00802c;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-bottom: 1wv;
}

.mascotas-content p {
    color: #5d5d5d;
    font-family: "CircularStd-book";
    font-size: 1.2vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: justify;
}

.mascotas-content span {
    color: #00802c;
}

@media(max-width:767px) {
    .mascotas-content {
        margin-bottom: 20vw;
    }
    .mascotas-content h3 {
        font-size: 5vw;
        margin-bottom: 8vw;
        margin-top: 8vw;
    }
    .mascotas-content h4 {
        font-size: 4vw;
    }
    .mascotas-content p {
        font-size: 4vw;
        margin-top: 6vw;
        margin-bottom: 6vw;
    }
    .mascotas-content li {
        color: #5d5d5d;
        font-family: "CircularStd-medium";
        font-size: 4vw;
    }
}