.acumulated_points{
    display: flex;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 10vw;
    position: relative;
}

.greeting{
    /* font-family: "CircularStd-medium"; */
    display: flex;
    flex-direction: column;
    background-color:#39c72f;
    height: 20vw;
    width: 27vw;
    padding-top: 3vw;
    padding-left: 5vw;
}

.greeting label{
    font-family: "CircularStd-bold";
    color: white;
    font-size: 5vw;
    margin-bottom: 0;
    line-height: 90%;
    text-align: right;
    width: 80%;
}

.container_kilometer{
    margin-left: 7vw;
    width: 30vw;
}

.kilometers_counter {
    display: flex;
    flex-direction: column;
    font-family: "CircularStd-bold";
    padding-top: 10%;
    padding-right: 1vw;
    padding-bottom: 2vw;
    padding-left: 4vw;
    border-radius: 10px;
    box-shadow: 0px 0px 18px -7px 
    rgba(0,0,0,0.75);
    margin-bottom: 1vw;
    margin-top: 5vw;
    position: relative;
}

.kilometers_counter h3{
    font-size: 6vw;
    color: #39c72f;
    margin-bottom: 0;
    line-height: 70%;
    margin-top: 0;
}

.kilometers_counter span{
    font-size: 3vw;
}

.kilometers_counter label{
    font-family: "CircularStd-book";
    font-size: 2.3vw;
    color: #5d5d5d;
}

.kilometers_counter .tienes_web { 
    display: block;
    text-transform: uppercase;
    font-size: 1.2vw;
    margin-bottom: 0;
}
.tienes_web{
    display: block;
    text-transform: uppercase;
    font-size: 1.2vw;
    margin-bottom: 0;
}
.decoration_img{
    border-style: none;
    max-width: 100%;
    position: absolute;
    /* -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1); */
    filter: FlipH; 
    top: 1vw;
    left: -1%;
    width: 3vw;
}

.img_bus_user {
    max-width: 100%;
    position: absolute;
    width: 41vw;
    right: 0;
}

.free_travel_buttom{
    border: none;
    background-color: #39c72f;
    color: white;
    font-family: "CircularStd-medium";
    font-size: 1vw;
    padding: 0.5vw 7vw;
    border-radius: 10px;
}

@media(max-width:767px){
    .greeting{
        width: 100vw;
        padding-top: 9vw;
        padding-right: 2vw;
        text-align: center;
    }

    .greeting label {
        font-size: 8vw;
        margin-left: 2vw;
        font-weight: 700;
    }

    .coma_span{
        display: none;
    }

    .container_kilometer {
        width: 85vw;
    }

    .kilometers_counter {
        padding-left: 9vw;
    }

    .decoration_img {
        top: 3vw;
        left: -1%;
        width: 10vw;
    }

    .kilometers_counter h3 {
        font-size: 12vw;
    }

    .kilometers_counter span {
        font-size: 5vw;
    }

    .kilometers_counter label {
        font-size: 4vw;
    }

    .free_travel_buttom {
        font-size: 4vw;
        padding: 1vw 10vw;
        margin-left: 10vw;
        margin-top: 5vw;
    }

    .img_bus_user {
        position: absolute;
        width: 41vw;
        right: 0;
        bottom: 2.5vw;
    }
    
}