.info_sede {
    position: relative;
    width: 100%;
    height: 40vw;
}

.container_sede_info {
    width: 25vw;
    min-height: 50%;
    border-radius: 20px;
    -webkit-box-shadow: -12px 14px 35px -35px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -12px 14px 35px -35px rgba(0, 0, 0, 0.75);
    box-shadow: -12px 14px 35px -35px rgba(0, 0, 0, 0.75);
    padding: 3vw 2vw;
    margin-left: 10vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
    padding-bottom: 0.5vw;
    background-color: white;
}

.titulo_city {
    font-family: "CircularStd-bold";
    font-size: 2vw;
    color: white;
    background-color: #39c72f;
    position: relative;
    min-width: 12.5vw;
    text-align: center;
    left: -2vw;
    padding-right: 2vw;
    padding-left: 2vw;
}

.titulo_attribute {
    display: inline-block;
    margin-bottom: 0.5rem;
    font-family: "CircularStd-bold";
    color: #39c72f;
    font-size: 1.2vw;
}

.margin_spacer {
    margin-left: 0.3vw;
}

.description_sede_text {
    font-family: "CircularStd-book";
    font-size: 1.2vw;
    color: #5d5d5d;
    margin-left: 0.3vw;
    margin-top: 0;
    margin-bottom: 1rem;
}

p.long_address {
    margin-bottom: 0;
}

p.long-address:last-of-type {
    margin-bottom: 1rem;
}

.img_sucursal {
    /* position: relative; */
    z-index: -100;
    /* top: 20%; */
    position: absolute;
    top: -10vw;
    right: 0vw;
}

.img_sucursal img {
    /* height: 95%; */
    /* height: 90vw; */
    object-fit: cover;
    /* height: 60vw; */
    
}
.d_flex{

    display: flex;
}

@media(max-width:767px) {
    .info_sede {
        height: auto;
    }
    .container_sede_info {
        width: 90%;
        margin: auto;
        margin-top: 10vw;
        padding-top: 10vw;
    }
    .img_sucursal_movil {
        position: absolute;
        z-index: -200;
        top: -50vw;
    }
    .titulo_city {
        font-size: 6vw;
        min-width: 38vw;
    }
    .titulo_attribute {
        font-size: 3.5vw;
        margin-left: 5vw;
    }
    .description_sede_text {
        font-size: 3.5vw;
    }
    .long_text {
        margin-left: 5vw;
    }
}