.two_floor_description {
    position: relative;
    margin-top: 5vw;
    width: 80%;
    /* height: 50vw; */
}

.first_floor {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.tab_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding-top: 1vw;
    padding-left: 0.5vw;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-style: solid;
    border-color: #a9a9a9;
    border-width: 1px;
    border-bottom: none;
    /* d-flex align-items-center justify-content-center tab-box */
}

.disabled.tab_box {
    border: none;
    border-style: solid;
    border-color: #a9a9a9;
    border-width: 1px;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* h1, h2 */
.principal_tabs {
    display: flex;
    flex-direction: column;
    color: #5d5d5d;
    text-transform: uppercase;
    line-height: 90%;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.5vw;
    /* d-flex flex-column principal-tabs */
}

.principal_tabs h1 {
    font-size: 1.3vw;
}

.disabled .principal_tabs h2 {
    color: #a9a9a9;
}

.disabled .principal_tabs h1 {
    font-size: 1.3vw;
    color: #a9a9a9;
}

.content_twofloor_bus {
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    position: relative;
    padding: 1vw 0.5vw;
    padding-bottom: 5vw;
    border-style: solid;
    border-width: 1px;
    border-color: #a9a9a9;
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* d-flex justify-content-between */
}

.plusname_description {
    margin-left: .5vw;
    margin-top: 0;
    margin-bottom: 0;
}

.plusname_description label {
    color: #a9a9a9;
    font-size: 1.2vw;
    line-height: 90%;
    margin-bottom: 0;
}

.plusname_description h3 {
    color: #39c72f;
    /* font-size: 2.5vw; */
    font-weight: bold;
    text-transform: uppercase;
}

.margin_top_two_floor {
    margin-top: 0!important;
}

.top_position {
    top: 43vw!important;
}

.floor_selector {
    width: 1.5vw;
}

.tittle_disable {
    padding-right: 3vw;
    padding-top: 1vw;
}

.tittles_second_floor {
    display: flex;
    align-items: flex-start;
    margin-right: 2vw;
    /* d-flex align-items-start */
}

/*single bus*/

.single_bus_contaier {
    position: relative;
    padding: 2vw 1vw;
    margin-top: 5vw;
    width: 80%;
    height: 45vw;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}

.barras_tittle {
    width: 2vw;
}

.bus_name label {
    margin: 0;
    line-height: 90%;
    text-transform: uppercase;
}

.bus_name {
    margin-left: 0.5vw;
}

.bus_name_tittle {
    color: #5d5d5d;
    font-size: 1.8vw;
}

.bus_name_subtittle {
    color: #39c72f;
    font-size: 2vw;
    font-weight: bold;
}

.bus_characteristics {
    margin-top: 5vw;
    margin-left: 0.5vw;
}

.characteristics {
    color: #5d5d5d;
    font-size: 1vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    line-height: 2vw;
}

.list_style ul li {
    list-style: none;
}

/* ul li::before {
    content: "\2022"!important;  
    color: #39c72f!important; 
    font-weight: 100!important;
    display: inline-block!important; 
    width: 1em!important; 
    margin-left: -1em!important; 
    border: none!important;
  } */

.barras_box {
    border-style: none;
    max-width: 100%;
    position: absolute;
    right: -1%;
    bottom: 5vw;
    width: 4.5vw;
}
.label_content{
    display: flex;
    justify-content: space-between;
    /* "d-flex justify-content-between" */
}
@media(max-width: 767px) {
    .choiced_bus {
        height: 100%;
    }
    .two-floor_description {
        width: 100%;
        margin-bottom: 30vw;
    }
    .tab_box {
        width: 45%;
        padding-top: 4vw;
        padding-left: 0vw;
    }
    .principal_tabs h1 {
        font-size: 3.3vw;
    }
    .disabled .principal_tabs h1 {
        font-size: 3.3vw;
    }
    .principal_tabs h2 {
        font-size: 6vw;
    }
    .barras_tittle {
        width: 4.5vw;
    }
    .floor_selector {
        width: 4vw;
    }
    .content_twofloor_bus {
        height: 130%;
    }
    .bus-characteristics {
        margin-top: 5vw!important;
    }
    .characteristics {
        font-size: 2.4vw;
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        line-height: 4vw;
    }
    .barras_box {
        left: 88.3%;
        bottom: 10vw;
        width: 10.5vw;
    }
}

/*list style*/

.bus_characteristics li {
    list-style-image: url("../../img/list-point.svg");
}

@media(max-width:767px) {
    .bus_characteristics li {
        list-style-image: url("../../img/list-point-movil.svg");
    }
}