.container_bus_propieties{
    max-width: 32vw;
    height: 25vw;
}

.bus_ilustration{
    width: 10vw;
    object-fit: contain;
    margin: 0.5vw 0.5vw;
    border-style: none;
    vertical-align: middle;
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
}

.images_background{
    display: block;
    position: relative;
    height: 15vw;
    width: 41.5vw;
    background-color:#eeeeee;
    top: -13vw;
    z-index: -100;
    right: 1vw;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: -38px 49px 10px -48px rgba(0,0,0,0.75);
}

@media(max-width:767px){
    .container_bus_propieties{
        max-width: 100vw;
        margin-top: 2vw;
        margin-bottom: 5vw;
        height: 100%;
    }

    .bus_ilustration{
        width: 30vw;
        margin: 0.5vw 0.5vw;
    }
    
}