.servicioContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.servicioInfo {
    margin-left: 1.5vw;
    margin-right: 1.5vw;
}

.servicio {
    /* height: 30vh; */
    /* z-index: -20; */
    position: relative;
    width: auto !important;
    padding: 0;
    margin: 0 2vw;
    flex-wrap: wrap;
    background-color: transparent;
    text-decoration: none;
    font-weight: 700;
    flex: 0 0 25%;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* d-flex flex-column align-items-start justify-content-center col-md-3 */
}

.servicioBackground {
    /* position: absolute; */
    left: 0;
    top: 0;
    /* height: 100%; */
    z-index: -10;
    width: 100%;
}

.servicioBackgroundDiv {
    position: relative;
    width: 100%;
    height: 100%;
}

.servicioInfo {
    position: absolute;
    top: 2vw;
}

.logo_tiquet {
    height: 4.5vw;
    /* max-height: 6.5vw;    */
}

.titulo_servicio {
    font-weight: 950;
    color: white;
}

.titulo_servicio p {
    position: relative;
    left: -3vw;
    text-transform: uppercase;
    margin: 0.1vw 0;
    padding: 0.1vw 0;
    padding-left: 3vw;
}

.cliente {
    margin: auto auto 0 auto;
    line-height: 3.5vw;
    font-size: 3.5vw;
    font-family: "CircularStd-bold";
}

.ultra {
    font-size: 2vw;
    display: inline;
    margin: -2vw auto auto auto;
}

.restricciones {
    color: white;
    font-weight: bold;
    font-size: 1vw;
    margin-top: 20px;
}

@media (max-width: 767px) {
    .servicioInfo {
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .servicioBackgroundDiv {
        height: 70vw;
    }
    .cliente {
        font-size: 12vw;
        margin-top: 0px;
        line-height: 12vw;
    }
    .ultra {
        font-size: 8vw;
        margin-top: 0px;
    }
    .restricciones {
        font-size: 2vw;
        font-weight: bold;
        margin-top: 20px;
    }
    .logo_tiquet {
        height: 15vw;
    }
    .servicio {
        min-height: 70vw;
        width: auto;
    }
    .titulo_servicio p {
        left: -15vw;
        padding-left: 15vw;
    }
    .servicioInfo {
        top: 15vw;
    }
    .servicio {
        margin: 6vw 3vw;
    }
    .pading_img_bus {
        padding-top: 20px;
    }
    .bus img {
        width: 35vw;
    }
    .horarios {
        font-size: 9vw
    }
    .viaje {
        font-size: 7vw;
    }
}