.InnerCode{
    width: 80%;
    margin: 2vw auto;
}

.InnerCode h3{
    color: #39c72f;
    font-family: "CircularStd-medium";
    font-size: 2.3vw;
    margin-top: 6vw;
    margin-bottom: 4vw;
}


.InnerCode p{
    color: #5d5d5d;
    font-family: "CircularStd-book";
    font-size: 1.2vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.InnerCode div{
    display: flex;
    align-items: center;
}
.InnerCode label{
    position: relative;
    left: -6.5vw;
    width: 23vw;
    background-color: #39c72f;
    color: white;
    font-family: "CircularStd-medium";
    font-size: 1.6vw;
    text-align: right;
    padding-right: 0.5vw;
}

.InnerCode h4{
    font-family: "CircularStd-medium";
    font-size: 1.6vw;
    color: #39c72f;
    margin-left: -6vw;
}

.InnerCode span{
    color: #00802c;
}

.InnerCode li{
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
}

@media(max-width:767px){
    .InnerCode {
        width: 84%;
        margin: 2vw 8vw;
        margin-bottom: 20vw;
    }

    .InnerCode h3 {
        font-size: 4.5vw;
    }

    .InnerCode p {
        font-size: 4vw;
        width: 100%;
        margin-top: 0;
        margin-bottom: 5vw;
    }    

    .InnerCode div{
        margin-top: 7vw;
        margin-bottom: 5vw;
    }

    .InnerCode label {
        left: -8.5vw;
        width: 43vw;
        font-size: 3.5vw;
        padding-right: 0.5vw;
    }

    .InnerCode h4 {
        font-size: 3.5vw;
        margin-left: -6vw;
    }

    .InnerCode li{
        color: #5d5d5d;
        font-family: "CircularStd-medium";
        font-size: 4vw;
    }
    
}