@font-face {
    font-family: "CircularStd-bold";
    src: url("../../fonts/CircularStd-Bold.otf");
}

.main_historia {
    font-family: "CircularStd-book";
}

@media (max-width: 767px) {
    .descripcion_ep_web {
        display: none;
    }
}

.backgroud_bus {
    background-color: #39c62f;
    width: 20.5vw;
    height: 17vw;
    margin-left: 5vw;
    margin-top: 2.5vw;
}

.imgBusNosotros img{
    width: 25vw;
    margin-left: 5vw;
    /* position: absolute;
    top: 50px;
    left: 0; */
}
.descripcion_content{
    display:flex;
    flex:wrap;
}
.historia_content {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
}
.col_4{
    flex:0 0 33.333333%;
    max-width: 33.333333%;
}


/* .titulo-historia {} */

.titulo_historia label {
    color: #39c72f;
    font-size: 2vw;
}

.image_separator{
    display: flex;
    align-items: center;
}

.top_image {
    display: block;
    margin: auto;
    width: 20vw;
    margin-bottom: 2vw;
}

.line_separator {
    height: 1%;
    width: 38%;
    border-bottom-style: solid;
    border-bottom-color: #39c62f;
    border-width: 2px;
}

@media(max-width:767px) {
    .top_image {
        display: block;
        margin: auto;
        width: 30vw;
        margin-bottom: 8vw;
    }
    .line_separator {
        border-width: 3px;
    }
    .line_separator_rigth {
        position: absolute;
        right: -10vw;
        top: 6vw;
    }
    .line_separator_left {
        position: absolute;
        left: -10vw;
        top: 6vw;
    }
}

/* .historia {} */

.historia p {
    color: #5d5d5d;
    font-size: 1.2vw;
    text-align: justify;
}

@media(max-width:767px) {
    .historia p {
        text-align: left;
    }
}

.cualidades {
    grid-row: 3;
    display: grid;
    grid-template-columns: 34% 67%;
}

.logros {
    border-right-color: #39c72f;
    border-right-style: solid;
    border-right-width: 7%;
}

.logros p {
    text-align: right;
    color: #39c72f;
    margin-top: 5%;
    margin-right: 8%;
    font-size: 1.6vw;
}

.info_adicional {
    grid-column: 2;
    display: grid;
}

.info_adicional p {
    text-align: justify;
    color: #5d5d5d;
    margin-left: 8%;
    font-size: 1.2vw;
}

/** banner inferior **/
.banner_bottom{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 5vw 0;
}
.banner_bottom_img{
    flex: 0 0 41.666667%;
    max-width:41.666667%;
    padding: 0;
}
.col_mid{
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
}
.descripcion_banner_bottom{
    font-family: CircularStd-bold;
    color: #5d5d5d;
    font-size: 2.1vw;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 100px;
}
.descripcion_banner_bottom span{
    color: #39c72f;
}
/**estilos responsive**/

.titulo_historia_movil {
    color: #39c72f;
    font-size: 8vw;
    font-weight: 700;
    margin-left: 5vw;
}

.historia_movil {
    color: #5d5d5d;
    font-size: 4vw;
    text-align: left;
    margin-left: 5vw;
    margin-right: 5vw;
}

/* .movil-bus{
    margin-bottom: 25vw;
} */

.movil_bus {
    margin-bottom: 5vw;
}

.logros_web {
    text-align: left;
    color: #39c72f;
    font-size: 3vw;
}

.backgroud_bus_movil {
    background-color: #39c62f;
    width: 39vw;
    height: 27vw;
    margin-left: 15vw;
    margin-top: 2.5vw;
}

.imgBusNosotros_movil {
    width: 100%;
}

.info_adicional_movil {
    text-align: left;
    color: #5d5d5d;
    font-size: 3.5vw;
    margin-left: 5vw;
    margin-right: 5vw;
}