@font-face {
    font-family: "CircularStd-bold";
    src: url("../../fonts/CircularStd-Bold.otf");
    font-family: "CircularStd-book";
    src: url("../../fonts/CircularStd-Book.otf");
    font-family: "CircularStd-medium";
    src: url("../../fonts/CircularStd-Medium.otf");
}

.contacto {
    height: 15vw;
    background: #00802c;
    color: white;
}

.contenedor-footer {
    justify-content: center;
    padding-top: 5vw;
    margin-left: 3vw;
    margin-right: 3vw;
}


.contenedor-footer a {
    color: white;
}

.contenedor-footer a:hover {
    color: white;
}

.titulo-contacto {
    grid-row: 1;
    grid-column: 1;
    /* display: grid; */
    align-content: center;
    line-height: 2vw;
    font-weight: 600;
    margin-right: 2vw;
}

.comu {
    display: block;
    font-size: 3.8vw;
    letter-spacing: -2px;
}

.nosotros {
    display: block;
    font-size: 2vw;
    letter-spacing: -1px;
}

.lineaNacional {
    grid-column: 3;
    grid-row: 2;
    display: grid;
    border-width: 1px;
    border-right-color: white;
    border-left-color: white;
    border-right-style: solid;
    border-left-style: solid;
    grid-template-columns: 30% 70%;
    width: 20%;
    font-weight: 700;
}

.linImg {
    grid-column: 1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.linImg img {
    width: 62px !important;
}

.lintxt {
    grid-column: 2;
    display: grid;
    align-content: center;
    font-family: "CircularStd-book";
    font-size: 1.2vw;
    justify-items: center;
    align-items: center;
}

.celular {
    grid-column: 4;
    width: 20%;
    grid-row: 2;
    display: grid;
    border-width: 1px;
    border-right-color: white;
    border-right-style: solid;
    grid-template-columns: 30% 70%;
}

.fijo {
    grid-column: 4;
    width: 20%;
    grid-row: 2;
    display: grid;
    grid-template-columns: 30% 70%;
    font-weight: 700;
}

.celimg {
    grid-column: 1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.celimg img {
    width: 50%;
}

.celtxt {
    grid-column: 2;
    display: grid;
    align-content: center;
    font-family: "CircularStd-book";
    font-size: 1.2vw;
    justify-items: center;
    align-items: center;
}

.whatsapp {
    grid-column: 5;
    grid-row: 2;
    display: grid;
    grid-template-columns: 30% 70%;
    width: 22%;
}

.whatsapp-img {
    grid-column: 1;
    display: grid;
    justify-items: center;
    align-items: center;
}

.whatsapp-img img {
    width: 50%;
}

.whatsapp-txt {
    grid-column: 2;
    display: grid;
    justify-items: start;
    align-items: center;
    font-family: "CircularStd-book";
    font-size: 1.2vw;
}

.sfoot {
    height: 20vw;
    /* grid-row: 2; */
    display: grid;
    grid-template-rows: 19% 62% 19%;
    grid-template-columns: 8% 16% 20% 18% 35% 3%;
}
.sfoot a {
    color: #212529;
}
.sfoot a:hover {
    color: #212529;
}
.footer-menu {
    /* display: grid;    */
    padding-left: 1vw;
    align-content: flex-start;
    justify-content: center;
    border-right-color: #cbcbcb;
    border-right-style: solid;
    border-width: 1px;
}

.footer-menu label {
    color: #00802c;
    display: block;
    font-size: 1.2vw;
    font-family: "CircularStd-medium";
}

.footer-menu a {
    font-size: 1.1vw;
    display: block;
    margin: 0.2rem 0;
    font-weight: normal;
}

.exppall {
    grid-row: 2;
    grid-column: 2;
}

.antdvi {
    grid-row: 2;
    grid-column: 3;
}

.desyrut {
    grid-row: 2;
    grid-column: 4;
}

.metdpag {
    grid-column: 5;
    grid-row: 2;
    display: grid;
    grid-template-columns: 17% 83%;
    grid-template-rows: 26% 59% 15%;
}

.smetdpag {
    grid-column: 2;
    grid-row: 2;
    display: grid;
    grid-template-rows: 80% 20% 30%;
}

.smettxt {
    font-family: "CircularStd-bold";
    font-size: 2.3vw;
    color: #39c72f;
    display: grid;
    justify-content: right;
    line-height: 90%;
    text-align: right;
}

.smeimg {
    grid-row: 3;
}

.smeimg img {
    width: 100%;
}

.copyright {
    height: 10vw;
    padding-top: 2vw;
    background-color: #efefef;
    border-top-color: #00802c;
    border-top-style: solid;
}

.derechos {
    font-family: "CircularStd-book";
    color: #00802c;
    justify-content: right;
    align-content: center;
    font-size: 1.3vw;
}

.border-right {
    border-right: #cbcbcb;
    border-right-style: solid;
    align-content: center;
}

.footer-img {
    width: 12vw;
    object-fit: contain;
}

@media(max-width: 767px) {
    .copyright {
        height: 13vw;
    }
    .derechos label {
        font-size: 2.7vw;
        padding-top: 2.5vw;
    }
    .titulo-contacto {
        margin-top: 7vw;
    }
    .sfoot {
        display: none;
    }
    .contacto {
        height: 90vw;
    }
    .contenedor {
        margin-top: 10vw;
        padding-left: 10vw;
    }
    .comu {
        font-size: 11vw;
        margin-bottom: 7vw;
        letter-spacing: -2px;
    }
    .nosotros {
        font-size: 7vw;
        margin-bottom: 10vw;
        letter-spacing: -1px;
    }
    .margin-md {
        margin-top: 3vw;
        margin-left: 5vw;
        margin-bottom: 2vw;
        border: none;
    }
    .linImg img {
        width: 9vw;
        height: 9vw;
    }
    .celimg img {
        width: 7vw;
        height: 7vw;
    }
    .whatsapp-img img {
        width: 7vw;
        height: 7vw;
    }
    .whatsapp-txt {
        font-size: 4vw;
    }
    .celtxt {
        font-size: 4vw;
        justify-items: start;
    }
    .lintxt {
        font-size: 4vw;
        justify-items: start;
        width: 90%;
    }
    .lineaNacional {
        width: 70%;
    }
    .celular {
        width: 70%;
    }
    .fijo {
        width: 70%;
    }
    .whatsapp {
        width: 70%;
    }
}