.map-container{
    position: relative;
    height: 40vw;
    left: 75%;
}

.map-img{
    position: absolute;
    right: 0;
    top: -14vw;
    height: 150%;
}
.absoluteDiv{
    position: absolute;
}
@media (max-width: 767px){
    .map-img{
        position: absolute;
        right: 0;
        top: 0;
        height: 190%;
    }
}