.box-label {
    background-color: #eeeeee;
    padding: 0.5vw 1vw;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
    text-transform: none;
}

.box-label .label {
    font-family: "CircularStd-medium";
    color: black;
    font-size: 1.2vw;
    margin-left: 1.5vw;
}
.list-elements a:hover {
    color: #212529;
}

.list-elements a {
    color: #212529;
    text-decoration: none;
    font-weight: 700;
}
.box-label img {
    width: 1.5vw;
    margin-right: 2vw;
}

.list-elements {
    width: 90%;
    display: block;
    margin: auto;
}

.list-elements li {
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    line-height: 200%;
}

.list-elements li {
    list-style-image: url("../../img/list-point.svg");
}

@media(max-width:767px) {
    .box-label label {
        font-size: 3vw;
        margin-left: 2.5vw;
    }
    .box-label img {
        width: 3vw;
        margin-right: 4vw;
    }
    .list-elements li {
        font-size: 3vw;
        list-style: none;
        margin-top: 3vw;
        margin-bottom: 3vw;
        list-style-image: url("../../img/list-point-movil.svg");
    }
    .card-list {
        margin-top: 10vw;
        margin-bottom: 8vw;
    }
}

/*Estilos por defecto*/

.listdropdown-style {
    width: 100%;
    margin: 3vw auto 0vw 0vw;
    margin-left: 1vw;
}

.listdropdown-style li {
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
}

.listdropdown-style h3 {
    color: #39c72f;
    font-family: "CircularStd-medium";
    font-size: 2vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

.listdropdown-style h4 {
    color: #00802c;
    font-family: "CircularStd-medium";
    font-size: 1.1vw;
    margin-top: 1vw;
    margin-bottom: 1wv;
}

.listdropdown-style p {
    color: #5d5d5d;
    font-family: "CircularStd-book";
    font-size: 1.2vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: justify;
}

.listdropdown-style span {
    color: #00802c;
}

@media(max-width:767px) {
    .listdropdown-style {
        margin-bottom: 20vw;
    }
    .listdropdown-style h3 {
        font-size: 5vw;
        margin-bottom: 8vw;
        margin-top: 8vw;
    }
    .listdropdown-style h4 {
        font-size: 4vw;
    }
    .listdropdown-style p {
        font-size: 4vw;
        margin-top: 6vw;
        margin-bottom: 6vw;
    }
    .listdropdown-style li {
        color: #5d5d5d;
        font-family: "CircularStd-medium";
        font-size: 4vw;
    }
    .box-label .label {
        font-size: 3.5vw;
    }
}