.content-politics{
    width: 75%;
    margin: 6vw auto;
}

.content-politics h3{
    color: #39c72f;
    font-family: "CircularStd-medium";
    font-size: 2.3vw;
    margin-bottom: 4vw;
    margin-top: 4vw;
}

.content-politics h4{
    color: #00802c;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
    margin-top: 1vw;
    margin-bottom: 1wv;
}

.content-politics p{
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
    width: 100%;
    margin-top: 2vw;
    margin-bottom: 2vw;
    text-align: justify;
}

.content-politics span{
    color: #00802c;
}

.content-politics li{
    color: #5d5d5d;
    font-family: "CircularStd-medium";
    font-size: 1.2vw;
}
.content-politics a {
    text-decoration: none;
    font-weight: 700;
}
@media(max-width:767px){

    .content-politics{
        margin-bottom: 20vw;
    }
    .content-politics h3{
        font-size: 5vw;
        margin-bottom: 8vw;
        margin-top: 8vw;
    }
    .content-politics h4{
        font-size: 4vw;
    }

    .content-politics p{
        font-size: 4vw;
        margin-top: 6vw;
        margin-bottom: 6vw;
    }


    .content-politics li{
        color: #5d5d5d;
        font-family: "CircularStd-medium";
        font-size: 4vw;
    }
}

