
.list_sedes_container{
    background-color: #eeeeee;
    padding-top: 4vw;
    padding-bottom: 4vw;
    width: 30vw;
}

.list_sedes{
    display: flex;
    font-family: "CircularStd-bold";
    color: #5d5d5d;
    font-size: 1.2vw;
    margin: 0;
    padding: 0;
}

.li_container{
    display: block;
    height: 2vw;
    padding-right: 6vw;
    padding-left: 15vw;
    /* margin: 1vw 0; */
    text-transform: capitalize;
}

.list_sedes li{
    list-style: none;
    line-break: 80%;
}

.cityLink {
    cursor: pointer;
}
