.section{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;  
}
.mediosPagoContainer {
    flex-wrap: wrap;
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}


.contenedor{
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 768px){
    .contenedor_md{
        margin-left: auto;
        margin-right: auto;
    }
}
.grid_container{
    display: grid;
}

/* grid-container section md-grid-container */
.fontw_strong{
    display: flex;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: flex-end;
    font-weight: 700;
    letter-spacing: -1px;
    font-size: 1.8vw;
    justify-items: right;
    background: #eee;
    align-items: center;
    color: #00802c;
    /* "col-md-5 item-1 d-flex justify-content-center justify-content-md-end fontw-strong" */
}
.item_1{
    font-size: 1.8vw;
    justify-items: right;
    background: #eeeeee;
    align-items: center;
    color: #00802c;
    grid-template-rows: 15% 70% 15%;
    letter-spacing: -1px;
}

.margin_top{
    display: inline-block;
    margin-top: 2vw;
    margin-bottom: 0;
   font-size: 2vw;
}
.no_margin{
    margin-top:0;
}
.no_margin_bottom{
    margin-bottom: 0;
}
.size{
    display: none;
    font-size: 3.8vw;
    margin: 2vw;
}

.subitem_1{
    display: block;
    box-sizing: border-box;
    grid-row: 2;
    /* subitem-1  d-none d-md-block d-lg-block d-xl-block */
}

.subitem_1 label{
    font-size: "CircularStd-medium";
    font-size: 2vw;
}
.subitem_1 p{
    font-size: "CircularStd-medium";
    font-size: 2vw;
    margin-bottom: 1.5vw !important;
}

.hiden_p{
    grid-row: 2;
    /* margin-top: 1vw; */
    /* margin-bottom: 4vw; */
    margin: 2vw;
}

.justify_right{
    grid-column: 2;
    margin: 0;
    font-size: 2vw;
    margin-bottom: 1.5vw;
}
.container_text{
    display: grid;
    grid-template-columns: 15% 85%;
}
.right_text{
    grid-column: 2;
}

.item_2{
    grid-column: 2;
    grid-template-rows: 20% 80%;
}

@media (max-width: 768px){
    .item_2{
        margin-top: 20px;
    }
}

.right_side_logos{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 1vw;
    flex: 0 0 50%;
    max-width: 50%;
    display: grid;
    grid-template-rows: 20% 80%;
    /* col-md-6 item-2 grid-container right-side-logos */
}

.titulo{
    /*fuente sugerida roboto Mono*/
    grid-row: 1;
    font-family: "CircularStd-book";
    color: gray;
    font-size: 1.2vw;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
@media(max-width:767px){
    .titulo{
        font-size: 4vw;
    }
}

.logos{
    width: 100%;
}

@media (max-width:768px){
    .logos{
        margin-top: 2vw;
    }
}